<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ drinkerName }}</h1>
        <p class="drinker-details" *ngIf="drinkerDetails">
            {{ drinkerDetails?.address }} <span *ngIf="drinkerDetails.address && drinkerDetails.state">|</span> {{
            drinkerDetails?.state }}
            <br>
            {{ drinkerDetails.email }}
        </p>
    </div>
</div>

<div class="container">
    <div class="text-center"><strong>Transactions of {{drinkerName}}</strong></div>
    <br>
    <div>
        <p-tabMenu [model]="items"></p-tabMenu>
    </div>
    <p-table [value]="transactions">
        <ng-template pTemplate="header">
            <tr>
                <th>Bar</th>
                <th>Item</th>
                <th>Time</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-drinker>
            <tr>
              <a routerLink = "/bars/{{drinker.barname}}">
                <td>{{ drinker.barname }}</td>
              </a>
                <td>{{ drinker.item }}</td>
                <td>{{ drinker.time }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<br><br>