<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.address }} <span *ngIf="barDetails.address && barDetails.state">|</span> {{
            barDetails?.state }}
            <br>
        </p>
    </div> 
</div>

<div class="contain">
    <div>
        <p-tabMenu [model]="items" [activeItem]="items[4]"></p-tabMenu>
    </div>
  <br>
  <div id = "bargraph">
    
  </div>
</div>