<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ barName }}</h1>
        <p class="bar-details" *ngIf="barDetails">
            {{ barDetails?.address }} <span *ngIf="barDetails.address && barDetails.state">|</span> {{
            barDetails?.state }}
            <br>
        </p>
    </div>
</div>

<div class="container">
    <div class="text-center"><strong>Top 25 Spenders at {{barName}}</strong></div>
    <br>
    <div>
        <p-tabMenu [model]="items"></p-tabMenu>
    </div>
    <p-table [value]="topSpenders">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Total Spent</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-spender>
            <tr>
                <td>{{ spender.drinker }}</td>
                <td>{{ spender.total | currency }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<br><br>