<div class="container">
    <p-table [value]="bars">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>State</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body"  let-bar>
        <tr>
          <a routerLink="/bars/{{ bar.name }}">
            <td>{{ bar.name }}</td>
          </a>
          <td>{{ bar.address }}</td>
          <td>{{ bar.state }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <br><br>